<template>
  <div id="app">
    <Header />
    <List />
    <Footer />
    <DrawerMenu />
  </div>
</template>

<script>
import Header from "./components/Header";
import Footer from "./components/Footer";
import List from "./components/List";
import DrawerMenu from "./components/DrawerMenu";

export default {
  name: "App",
  components: {
    Header,
    Footer,
    List,
    DrawerMenu
  }
};
</script>

<style>
#app {
  /* font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px; */
}
body {
  margin: 0;
  color: #4a4a4a;
}
</style>
